
.container{
    background-image: url("https://i.postimg.cc/RVLDzNcc/retro.jpg");
    background-size : cover; 
    background-position: center;
    box-sizing: border-box;
}
.message {
    backgroundcolor: black ;
    font-size: 12px;
    letter-spacing: 5px;
    border: 1px dotted green;
}

div{
    
}


a{ 
    text-decoration: vertical-align tomato;
    color: white;
    padding-left: 0%;
    padding-right: 80%;

}

.inputs{
    background-color: yellowgreen;
    padding: px;
    box-shadow: 0px 0px 5px 1px black;
    background-color: #202020;
    border: none;
    color: white;
    transition: background-color 20s;
    font-family: conthrax;
    text-align: center;
}




.mountains{
    /* background-image: url("https://i.postimg.cc/DZ2QkkX5/mountains-front.png ");
    background-position: center;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0;
    margin: 0;
    scroll-padding-bottom: 0%;
    max-width: 500px;
    border: 0;
    position: fixed; */
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;


    
    
}

.linky {
    color: white;
    
    
}




